<div class="container my-2">
  <ul class="nav nav-pills">
    <li class="nav-item">{{#link-to 'lists' class="nav-link"}}Home{{/link-to}}</li>
    <li class="nav-item">{{#link-to 'add-listing' class='nav-link'}}Add Listing{{/link-to}}</li>
  </ul>

  {{outlet}}
</div>